<h1>Detail</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
        <th>Created</th>
        <th>Modified</th>
    </tr>

    <tr>
        <td><?= $post['Post']['id'] ?></td>
        <td><?= $post['Post']['title'] ?></td>
        <td><?= $post['Post']['body'] ?></td>
        <td><?= $post['Post']['created'] ?></td>
        <td><?= $post['Post']['modified'] ?></td>
    </tr>
</table>

